@model List<eCommerce.Models.Product>

@{
    ViewBag.Title = "Store";
}
<div class="genre_list">
    @{Html.RenderAction("GenreMenu", "Store");}
</div>
<div id="result">Search Results:</div>
@if(Model != null)
{ 
<section class="main_content">
    <div class="row">
        <section class="row">
            <ul class="product_grid">
                @foreach (var product in Model)
                {
                    <li class="product_item">
                        <div class="image_wrapper">
                            <a id="display" href="@Url.Action("Details", "Store", new { id = product.ProductId })">
                                <img id="product_img" alt="@product.Title" src=@Url.Content(@product.ProductArtUrl) />
                            </a>
                        </div>
                        <hr class="item_hr">
                        <div class="caption">
                            <p id="product_title">
                                <a id="display" href="@Url.Action("Details", "Store", new { id = product.ProductId })">
                                    @product.Title
                                </a>
                            </p>
                            <p id="product_price">$@product.Price</p>
                        </div>
                    </li>
                }
            </ul>
        </section>
    </div>
</section>
}
else
{
    <div id="not_found">0 Products Found following your search! Try typing again.</div>
}

<style type="text/css">
    #result{    padding-top: 78px;
    font-family: sans-serif;
    font-size: larger;}
    #not_found{
        padding-top: 20px;
    font-family: sans-serif;
    }
    .main_content {
        background-color: #e0e0d2;
        margin-bottom: 30px;
        padding-bottom: 36px;
        padding-top: 2%;
    }

    .genre_list {
        float: left;
        padding-top: 4%;
        padding-right: 1%;
    }

        .genre_list a:hover {
            font-style: normal;
        }

    .product_grid {
        overflow: hidden;
        width: 76%;
        padding: 0;
        list-style: none;
        padding-left: 5%;
    }

    .product_item {
        float: left;
        position: relative;
        max-width: 22%;
        text-align: center;
        padding-left: 31px;
        padding-right: 51px;
        padding-bottom: 27px;
        padding-top: 33px;
        margin: 38px 14px 5px 10px;
        height: 274px;
        width: 40%;
    }

    .caption {
        text-decoration: none;
        text-align: center;
    }

    .item_hr {
        width: 70%;
    }

    #product_title {
        text-decoration: none;
    }

    #product_img {
        height: 143px;
        width: 208px;
    }

    #product_price {
        padding-right: 21px;
        margin-top: -11px;
        font-weight: bolder;
        font-size: larger;
        font-family: Georgia, Times, "Times New Roman", serif;
    }

    #display {
        display: block;
        display: block;
        max-width: 88%;
        margin-left: 4px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Georgia, Times, "Times New Roman", serif;
        color: black;
    }

    .product_list_body {
        background-color: white;
        padding-bottom: 98px;
    }

    .product_list {
        list-style-type: none;
    }

    .product a {
        text-decoration: none;
    }

    .product_item:hover {
        border: 1px solid #786c6c;
    }

    .image_wrapper {
        height: 155px;
    }
</style>
